@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>My @ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">


        <!-- Profile Information   -->

        <h4 class="mt-4">Profile Information</h4>
        <form id="profile-form" method="post" asp-page-handler="UpdateProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Username"
                       class="form-control"
                       placeholder="Please choose your username."
                       disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="ProfileInput.PhoneNumber"
                       class="form-control"
                       placeholder="Please enter your phone number." />
                <label asp-for="ProfileInput.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="ProfileInput.PhoneNumber" class="text-danger"></span>
            </div>

            <button id="update-profile-button"
                    type="submit"
                    class="w-100 btn btn-lg btn-primary">
                Save
            </button>
        </form>

        <hr class="my-5" />


        <!-- Email Management      -->

        <h4>Manage Email</h4>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>

            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email"
                           class="form-control"
                           placeholder="Please enter your email."
                           disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="form-floating mb-3">
                    <input asp-for="Email"
                           class="form-control"
                           placeholder="Please enter your email."
                           disabled />
                    <label asp-for="Email" class="form-label"></label>
                    <button id="email-verification"
                            type="submit"
                            asp-page-handler="SendVerificationEmail"
                            class="btn btn-link">
                        Send verification email
                    </button>
                </div>
            }

            <div class="form-floating mb-3">
                <input asp-for="EmailInput.NewEmail"
                       class="form-control"
                       autocomplete="email"
                       aria-required="true"
                       placeholder="Please enter new email." />
                <label asp-for="EmailInput.NewEmail" class="form-label"></label>
                <span asp-validation-for="EmailInput.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button"
                    type="submit"
                    asp-page-handler="ChangeEmail"
                    class="w-100 btn btn-lg btn-primary">
                Change email
            </button>
        </form>

        <hr class="my-5" />


        <!-- Change Password       -->

        @if (Model.HasPassword)
        {
            <h4>Change Password</h4>
            <form id="change-password-form"
                  method="post"
                  asp-page-handler="ChangePassword">
                <div asp-validation-summary="ModelOnly"
                     class="text-danger"
                     role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="ChangePasswordInput.OldPassword"
                           class="form-control"
                           autocomplete="current-password"
                           aria-required="true"
                           placeholder="Please enter your old password." />
                    <label asp-for="ChangePasswordInput.OldPassword"
                           class="form-label"></label>
                    <span asp-validation-for="ChangePasswordInput.OldPassword"
                          class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="ChangePasswordInput.NewPassword"
                           class="form-control"
                           autocomplete="new-password"
                           aria-required="true"
                           placeholder="Please enter your new password." />
                    <label asp-for="ChangePasswordInput.NewPassword"
                           class="form-label"></label>
                    <span asp-validation-for="ChangePasswordInput.NewPassword"
                          class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="ChangePasswordInput.ConfirmPassword"
                           class="form-control"
                           autocomplete="new-password"
                           aria-required="true"
                           placeholder="Please confirm your new password." />
                    <label asp-for="ChangePasswordInput.ConfirmPassword"
                           class="form-label"></label>
                    <span asp-validation-for="ChangePasswordInput.ConfirmPassword"
                          class="text-danger"></span>
                </div>

                <button type="submit"
                        class="w-100 btn btn-lg btn-primary">
                    Update password
                </button>
            </form>
        }
        else
        {
            <div class="alert alert-info">
                You do not have a password set.
                <a asp-page="./SetPassword">Click here to set one.</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}